* {
    box-sizing: border-box;
    background-color: #f7e7de;
}

body {
    margin: 0;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5F1A37;
    padding: 0 1rem;
}

.navbar h1 {
    background-color: #5F1A37;
    color:  #f7e7de;
    text-shadow: 2px 2px 4px #04030f;
}


.navbar ul {
    background-color: #5F1A37;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navbar-tabs {
    background-color: #5F1A37;
}
.navbar-tabs a {
    background-color: #5F1A37;
    color:  #f7e7de;
    text-shadow: 2px 2px 4px #04030f;
    text-decoration: none;
    font-size: 20px;
}

.navbar-tabs a:hover {
    text-shadow: 2px 2px 8px #7595a2
}

.home-page {
    border: solid black 2px;
    text-align: center;
}

.home-page h1 {
    border-bottom: solid #04030f 2px;
    background-color: #7595A2;
    color: #04030f;
    text-shadow: 2px 2px 4px #776885;
    margin: 0;
    padding: 2rem;
}

.post-page-header {
    display: flex;
    align-items: center;
    background-color: rgb(130, 183, 247);
    padding: 1rem;
    gap: 1rem;
}
.post-page-header a {
    text-decoration: none;
}

.individual-post { /* fix this later */
    background-color: rgb(196, 211, 240);
    padding: 1rem;
    margin-bottom: 1rem;
}

.add-new-post-form input {
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px, solid, blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.messages {
    background-color: rgb(196, 211, 240);
    padding: .5rem;
    gap: 2rem;
    border: solid black;
    margin: 1rem;
}

.inbox-message {
    background-color: rgb(235, 239, 247);
    padding: .5rem;
    gap: 2rem;
    border: solid black;
    margin: 1rem;
}
